* {
    margin: 0px;
    padding: 0px;
    color: white;
}

body {
    max-width: 100vw;
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    height: 7.5vh;
}

.container-topo {
    max-width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    background-color: black;
}

.container-topo > * {
    max-width: 100vw;
}

.container-inicio {
    height: 92.5vh;
}

.container-pai {
    text-align: center;
    padding: 40px 0;
}

.container-inicio > div {
    width: 50%;
}

.container-inicio-esquerda {
    background-image: url("../imgs/helloJSAlmanaque.png");
}

.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* cores de fundo */

.container-implementacao, .container-variaveis {
    background-color: rgb(13, 4, 49);
}

.container-alert, .container-operacao {
    background-color: rgb(18, 7, 61);
}

.container-prompt, .container-logico {
    background-color: rgb(20, 7, 75);
}

.container-confirm, .container-condicional {
    background-color: rgb(24, 9, 92);
}

.container-write, .container-repeticao {
    background-color: rgb(27, 13, 105);
}

.container-introducao {
    padding: 15vh 20vw;
    gap: 50px;
    line-height: 2rem;
    font-size: large;
    background-color: black;
    min-height: 92.5vh;
    color: white;
}

/* imagens */

.container-implementacao-direita {
    background-image: url("../imgs/como-escrever-js.png");
}

.container-alert-esquerda {
    background-image: url("../imgs/alert.png");
}

.container-implementacao-direita {
    background-image: url("../imgs/como-escrever-js.png");
}

.container-alert-esquerda {
    background-image: url("../imgs/alert.png");
}

.container-implementacao-direita {
    background-image: url("../imgs/como-escrever-js.png");
}

.container-alert-esquerda {
    background-image: url("../imgs/alert.png");
}

.container-implementacao-direita {
    background-image: url("../imgs/como-escrever-js.png");
}

.container-alert-esquerda {
    background-image: url("../imgs/alert.png");
}

.container-prompt-direita {
    background-image: url("../imgs/prompt.png");
}

.container-confirm-esquerda {
    background-image: url("../imgs/confirm.png");
}

.container-write-direita {
    background-image: url("../imgs/write.png");
}

.container-var-esquerda {
    background-image: url("../imgs/var.png");
}

.container-let-direita {
    background-image: url("../imgs/let.png");
}

.container-const-esquerda {
    background-image: url("../imgs/const.png");
}

.container-operacao-direita {
    background-image: url("../imgs/operacoes.png");
}

.container-if-direita {
    background-image: url("../imgs/if.png");
}

.container-switch-esquerda {
    background-image: url("../imgs/switch.png");
}

.container-while-direita {
    background-image: url("../imgs/while.png");
}

.container-do-while-esquerda {
    background-image: url("../imgs/do-while.png");
}

.container-for-esquerda {
    background-image: url("../imgs/for.png");
}

.container-and-esquerda {
    background-image: url("../imgs/and.png");
}

.container-or-direita {
    background-image: url("../imgs/or.png");
}

.container-not-esquerda {
    background-image: url("../imgs/not.png");
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

.container-img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 500px;
    min-height: 500px;
    border-radius: 30px;
}

.container-descricao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    max-width: 500px;
    color: white;
}

.js-basico {
    height: 70vh;
    background-color: rgb(168, 168, 0);
}

.js-dom {
    height: 70vh;
    background-color: rgb(2, 50, 153);
}

.container-vertical-centered {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
}

footer > p {
    margin: 10px;
}
